<table style="width:100%">
  <tr>
    <th>Original URL</td>
    <th>Shorten URL</td> 
  </tr>
  <tr>
    <td><%= @shorten.original_url %></td>
    <td><%= link_to "#{request.base_url}/#{@shorten.short_url}",
                    "#{request.base_url}/#{@shorten.short_url}" %></td>
  </tr>
</table>
